
.table-1{
  height: 58vh !important;
  height: 58dvh !important;
}

.table-2{
  height: 50vh !important;
  height: 50dvh !important;
}

.table-head{
    font-size: .7rem;
    font-weight: bold !important;
    color: seagreen !important;
    text-align: center !important;
    font-family: monospace;
  }
  
  .table-title-container td{
    color: white;
    border: none !important;
}

.table-title{
    position: absolute;
    top: 30%;
    left: 40%;
    border: none !important;
    text-transform: uppercase;
    font-size: .9rem;
    color: seagreen !important;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitle{
    position: absolute;
    top: 30%;
    left: 40%;
    border: none !important;
    text-transform: uppercase;
    font-size: .6rem;
    color: lightseagreen !important;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

  .table-data{
    font-size: .55rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

  .table-data-value{
    text-align: center;
    font-weight: bold;
    font-size: .7rem;
  }
  
  .title{
    font-size: .6rem;
    padding: 0 .5em !important;
    font-weight: bold;
    color: black;
  }
  
  .student-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .user-name {
    font-size: .7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
  }
  
  div:hover{
    cursor: default;
  }
  
  .v-scroll{
    min-width: 225px;
    display: flex;
    flex-direction: column;
  }
  
  .student-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

@media screen and (min-width: 576px) {
  .table-head{
    font-size: .8rem;
  }
  
  .table-data, .title{
    font-size: .65rem;
  }

  .no-data{
    font-size: .8rem;
  }
}
 
@media screen and (min-width: 767px) {
  .table-head{
    font-size: .8rem;
  }
  
  .table-data, .title{
    font-size: .7rem;
  }
  .no-data{
    font-size: .9rem;
  }
  .user-name {
    font-size: .8rem;
  }
  .student-img{
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 992px) {
  .table-head{
    font-size: .9rem;
  }

  .no-data{
    font-size: 1rem;
  }
  .user-name {
    font-size: .9rem;
  }
}

